* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 20px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#difficulty {
    width: 150px;
}

#play {
    padding: 0 2rem;
}

main {
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
}

.container {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;

}

.container > div {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

footer {
    padding: 20px 100px;
}